[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "snwe"]
	path = snwe
	url = https://github.com/blahsd/snwe.git
[submodule "launcher"]
	path = launcher
	url = https://github.com/pcalves/launcher.git
[submodule "firefox/tweaks"]
	path = firefox/tweaks
	url = https://github.com/Timvde/UserChrome-Tweaks
[submodule "scripts/pomo"]
	path = scripts/pomo
	url = https://github.com/pcalves/pomo
[submodule "scripts/dynamic-wall"]
	path = scripts/dynamic-wall
	url = https://github.com/pcalves/dynamic-wall.git
